*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --text-color:#151875;
    --bg-color-100:#F2F0FF;
    --bg-color-200:#F7F7F7;
    --bg-color-300:#F5F6F8;
    --bg-color-400:#F6F7FB;
    --button-color:#FB4997;
    --text-color-200:#FB4997;
    --text-color-300:#7E81A2;
    --text-color-400:#A9ACC6;
    --fs-caption-title:42px;
    --fs-subHeading:20px;
    --fs-paragraph:16px;
    --fs-listTitle:22px;
    --fs-listItem:11px;
    --fs-button-text:16px;
    --fs-big-font:64px;
    --fs-caption:14px
}

body{
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Josefin Sans', sans-serif; */
}

body #root div p{
    font-family: 'Lato', sans-serif; 
}

body #root div h1{
    font-family: 'Josefin Sans', sans-serif; 
}

img{
    max-width: 100%;
    object-fit: contain;
}

body #root div h6{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.15rem;
    font-weight: 800;
}

.sliderCard-main-div{
    max-width: 250px;
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.sliderCard-main-div:hover .sliderCard-button{
    display:inline-block;
}

#sliderCard-product-name{
    font-size: var(--fs-caption);
    color: var(--text-color-200);
    font-weight: 700;
}

.sliderCard-main-div:hover .sliderCard-product{
    background-color: #2F1AC4;
    color: white;
}

.sliderCard-img-div{
    background-color: var(--bg-color-400);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
    min-height: 255px;
    display: flex;
    align-items: center;
}

.sliderCard-img-div img{
    width: 70%;
    object-fit: contain;
    margin: auto;
    height:250px;
}

.sliderCard-product{
    padding: 15px;
    font-size: var(--fs-listItem);
    color: var(--text-color);
    width: 100%;
}

.sliderCard-product >p{
    margin-top: 7px;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0px;
}

.container{
    max-width:75%;
    margin: auto;
    text-align: center;
}

.heading{
    font-size: var(--fs-caption-title);
    color: var(--text-color);
    font-weight: 700;
    margin: 30px;
    margin-top:60px;
}

.latestProduct-main-div{
    flex-basis: 100%;
    max-width: 320px;
}

.latestProduct-img-div{
    width: 100%;
    background-color: var(--bg-color-200);
    padding: 20px;
}

.latestProduct-img-div img{
    height: 300px;
}

.latestProduct-name-div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 700;
}

.latestProduct-name-div span{
    color:var(--text-color-200);
    text-decoration: line-through;
}

.trendingProduct-main-div{
    max-width: 250px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: var(--text-color);
    font-weight: 700;
    font-size: var(--fs-button-text);
}

.trendingProduct-img-div{
    background-color:var(--bg-color-300);
}

.trendingProduct-name-div{
    padding: 15px;
}

.topCategories-main-div{
    text-align: center;
    max-width: 250px;
}

.topCategories-img-div{
    background-color: #F6F7FB;
    border-radius: 50%;
    width: 80%;
    height: 200px;
    padding: 25px;
    margin: auto;
    display: flex;
    align-items: center;
}

.topCategories-img-div img{
    width: 70%;
    margin: auto;
}

.topCategories-img-div:hover .topCategories-button{
    display: inline-block;
}

.topCategories-name-div{
    color: var(--text-color);
    font-weight: 700;
    font-size: 13px;
    margin-top: 10px;
}

.slick-dots li button:before{
    color: #FB4997;
}

.slick-dots li.slick-active button:before{
    color:var(--text-color-200);
}

.product-flex-div{
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    align-items: start;
    margin-top: 40px;
}

.css-ryrseu-MuiRating-root{
    font-size: 1.2rem !important;
}

.css-1kchgmf-MuiRating-root{
    font-size: 1.2rem !important;
}

.css-i4bv87-MuiSvgIcon-root{
    width: 1rem !important;
}

.css-1idedao-MuiSvgIcon-root{
    width: 1rem !important;
}

.css-wjh20t-MuiPagination-ul{
    justify-content: center;
}

.css-1mtig89-MuiButtonBase-root-MuiPaginationItem-root{
    border-radius: 4px !important;
}

.css-1mtig89-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: var(--button-color) !important;
}

.singleProductInfo-main-div{
    text-align: start;
    margin-top: 40px;
    display: flex;
    justify-content:space-around;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px 0px;
    align-items: center;
}

.singleProduct-img-div{
    padding: 10px;
    background-color: #F5F5F5;
    display: flex;
    cursor: pointer;
    min-height: 100px;
}

:where(.flow :not(:first-child)){
    margin-top: 35px;
}

.css-19kzrtu{
    padding: 0px !important;
}

.css-heg063-MuiTabs-flexContainer{
    gap:2rem !important;
}

.css-ze8w8n-MuiButtonBase-root-MuiTab-root.Mui-selected{
    color:#151875 !important;
}

.css-1aquho2-MuiTabs-indicator{
    background-color:#151875 !important;
}

.css-ze8w8n-MuiButtonBase-root-MuiTab-root{
    min-width: 0px !important;
}

.css-1w9gadq-MuiRating-root{
    font-size: 1.2rem !important;
}

.contact-main-div{
    text-align: left;
}

.cart-main-div{
    display: "flex";
    justify-content: space-between;
    align-items: center;
}

.profile-main-div:hover .header-subprofile-div{
    display: block;
}

.change-btn{
    padding: 0.5rem;
    background-color: white;
    outline: none;
    font-size: 14px;
}
.change-btn:not(:first-child){
    border-left: none;
}